.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px;
}

.image {
    width: 400px;
    border-radius: 8px;
}

.text-content {
    width: 250px;
    margin-top: 6px;
    text-align: left;
}

.title {
    margin: 0;
    font-size: 0.95rem;
    color: #fff;
    font-family: Poppins;
}

.subtitle {
    margin: 2px 0;
    font-size: 0.8rem;
    color: #ccc;
    font-family: Poppins;
}

.date {
    margin-top: 4px;
    font-size: 0.75rem;
    color: #aaa;
    font-family: Poppins;
}
