.glass-footer {
    width: 100%;
    padding: 15px 10%;
    backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, 0.07);
    border-radius: 0 0 15px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer-text {
    position: relative;
    font-size: 14px !important;
    font-family: 'Poppins';
}